.inputContainer {  
    position: relative;  
    margin: 1rem 0;  
}  

.inputElement {  
    border: none;  
    border-bottom: 0.1rem solid #246e49; 
    padding: 0.5rem 0;  
    font-size: 1rem;
    color: #008528; 
}  

.labelElement {  
    position: absolute;  
    top: 0;  
    left: 0;  
    pointer-events: none; 
    color: #95b5e6;  
    transition: 0.2s ease all;
}  

.inputElement:focus + label,  
.inputElement:not(:placeholder-shown) + label {  
    top: -1rem;  
    left: 0;  
    font-size: 0.8rem; 
    color: rgb(42, 87, 87); 
}  

.inputElement:focus {  
    outline: none; 
}