.comment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.comment {
    border-bottom: 0.1rem solid rgb(138, 216, 216);
    padding: 0.5rem;
    position: relative;
}

.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.user div {
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    animation: opacityAnim 2s linear infinite alternate-reverse;
}
.user h4 {
    width: 3rem;
    height: 0.3rem;
    background-color: rgba(0, 0, 0, 0.5);
    animation: opacityAnim 2s linear 0.2 infinite alternate-reverse;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.date {
    background-color: rgba(0, 0, 0, 0.3);
    width: 2rem;
    height: 0.1rem;
    animation: opacityAnim 2s linear 0.3s infinite alternate-reverse;
}
.content {
    width: 5rem;
    height: 0.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    animation: opacityAnim 2s linear infinite alternate-reverse;
}
@keyframes opacityAnim {
    from { opacity: 0.1; }
    to { opacity: 1; }    
}