.comments, .comment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.comment {
    border-bottom: 0.1rem solid rgb(138, 216, 216);
    padding: 0.5rem;
    position: relative;
}
.header {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header h3 {
    color: rgb(5, 88, 88);
}
.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.date {
    color: rgb(102, 99, 99);
    font-size: 0.8rem;
    font-weight: bold;
}
.commentForm {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.controlButtons {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.editImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.imageCtrl {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.deleteConfirm {
    color: rgb(243, 94, 94);
}
